arduino_nodered_stuff_ws/nodered.json
[
    {
        "id": "38d6383d931ad8da",
        "type": "tab",
        "label": "Seat Sensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "489c581cb997b4b7",
        "type": "serial in",
        "z": "38d6383d931ad8da",
        "name": "Arduino Seat",
        "serial": "serial-config",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "0220f590357e090b",
                "ffed01843fb89e40"
            ]
        ]
    },
    {
        "id": "0220f590357e090b",
        "type": "debug",
        "z": "38d6383d931ad8da",
        "name": "Raw serial",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "ffed01843fb89e40",
        "type": "function",
        "z": "38d6383d931ad8da",
        "name": "Extract JSON",
        "func": "// Only process lines that start with \"JSON:\"\nif (typeof msg.payload === \"string\" && msg.payload.startsWith(\"JSON:\")) {\n    try {\n        // Strip the \"JSON:\" prefix and parse the real JSON\n        const cleanJson = msg.payload.substring(5).trim();\n        msg.payload = JSON.parse(cleanJson);\n        return msg;\n    } catch (e) {\n        node.warn(\"Failed to parse JSON: \" + msg.payload);\n    }\n}\nreturn null; // drop everything else",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "ecac14e4ec55d326",
                "0f874a567039de93"
            ]
        ]
    },
    {
        "id": "ecac14e4ec55d326",
        "type": "websocket out",
        "z": "38d6383d931ad8da",
        "name": "To frontend",
        "server": "ws-server",
        "client": "",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "0f874a567039de93",
        "type": "debug",
        "z": "38d6383d931ad8da",
        "name": "Parsed JSON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "serial-config",
        "type": "serial-port",
        "serialport": "/dev/cu.usbmodem1201",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char"
    },
    {
        "id": "ws-server",
        "type": "websocket-listener",
        "path": "/seat",
        "wholemsg": "false"
    },
    {
        "id": "44253bdbbdb928f2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3"
        }
    }
]